.container {
    position: relative;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--brown);
    box-shadow: var(--sectionShadow);
    z-index: 900;
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.navbarLink {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid var(--lightBrown);
    transition: 0.3s;
}

.navbarLink:hover {
    color: var(--brown);
    background-color: var(--lightBrown);
}

.menu {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.allergens {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.allergensTitle {
    text-align: center;
    font-size: 30px;
    color: white;
}

.allergensList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.allergensListElement {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}

.allergensListElementIcon {
    height: 50px;
    width: 50px;
}

.allergensListElementIcon img {
    height: 100%;
    width: 100%;
}

.allergensListElementText {
    text-align: center;
    color: white;
}

@media (max-width: 1024px) {
    .container {
        padding: 50px 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .allergensList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
