.container {
    position: relative;
    padding: 50px;
    background-color: var(--lightBrown);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-shadow: 0 0 10px black;
}

.content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataTitle {
    font-size: 30px;
    font-weight: 800;
}

.dataInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dataInfoSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dataInfoSection svg {
    font-size: 20px;
    color: var(--brown);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form textarea {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--brown);
    resize: none;
    transition: 0.3s;
}

.form textarea::placeholder {
    color: var(--brown);
}

.form textarea:focus {
    outline: none;
    color: white;
    background-color: var(--brown);
}

.form textarea:focus::placeholder {
    color: var(--lightBrown);
}

.form input {
    padding: 10px;
    border: 1px solid var(--brown);
    transition: 0.3s;
}

.form input::placeholder {
    color: var(--brown);
}

.form input:focus {
    outline: none;
    color: white;
    background-color: var(--brown);
}

.form input:focus::placeholder {
    color: var(--lightBrown);
}

.formSubmit {
    width: max-content;
    min-width: 100px;
    background-color: white;
    transition: 0.3s;
}

.formSubmit:hover {
    cursor: pointer;
    color: white;
    background-color: var(--brown);
}

.formSubmit:disabled {
    opacity: 0.5;
}

.formSubmit:disabled:hover {
    cursor: not-allowed;
    color: var(--brown);
    background-color: white;
}
